_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
.idea
.jekyll-cache
cv/cv.out
cv/cv.bbl
cv/cv.blg
cv/cv.log
cv/cv.aux
cv/cv.pdf
*.pkl
*.dill
*.pyc
__pycache__
